body {
    font-family: 'Baloo Bhai', cursive;
    font-size: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

    li:last-child {
        border-right: none;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover:not(.active) {
            background-color: #111;
        }

.active {
    background-color: #4CAF50;
}
#tabela {
    padding-top: 5px;
    width: 100%;
}

#GridView1 {
    font-family: 'Alata', sans-serif;
    width: 70%;
    margin: auto;
}
input[type=text], input[type=password] {
    font-family: 'Alata', sans-serif;
    width: 100%;
    padding: 8px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 20px;
}
select {
    font-family: 'Alata', sans-serif;
    width: 100%;
    padding: 5px 2px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 20px;
}
#messages {
    width: 100%;
    text-align: center;
}
